<p id="notice"><%= notice %></p>
<h2> Welcome to your home page!</h2>
<p>
  <strong>Name: </strong>
  <%= @user.name %> <br>
  <strong>Email ID: </strong>
  <%= @user.email %> <br>
  <strong>Phone number: </strong>
  <%= @user.phone %><br>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%=link_to 'My applications',  user_applications_path(@user)%> |
<%=link_to 'Search for job', jobs_path%> |
<%=link_to 'View Company info', edit_user_path(@user)%> |
<%= link_to 'Back', users_path %>
